In [5]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

# from config import db_password

import time

In [6]:
url = 'https://raw.githubusercontent.com/vijaycse/Amazon_Vine_Analysis/master/amazon_reviews_public_vine_table.csv'
ratings = pd.read_csv(url, index_col=0)

In [7]:
ratings.head(10)

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R26MV8D0KG6QI6          5.0            0.0          0.0    N                 Y
R1OF8GP57AQ1A0          5.0            0.0          0.0    N                 Y
R3VDC1QB6MC4ZZ          5.0            0.0          0.0    N                 N
R12FA3DCF8F9ER          5.0            0.0          0.0    N                 Y
RTWHVNV6X4CNJ           5.0            0.0          0.0    N                 Y
RIG9AWFOGRDVO           2.0            1.0          1.0    N                 Y
R1S1XSG4ZCHDGS          5.0            1.0          1.0    N                 Y
RB15NBVY5ELVW           5.0            2.0          2.0    N                 Y
R56358YM1ZJ7I           5.0            0.0          0.0    N                 N
R1ODXB3C9UP3NL          1.0            1.0          3.0    N                 N

In [8]:
# filter DataFrame for total_votes above or equal to 20
df1 = ratings[(ratings["total_votes"] >= 20)]
len(df1)

31518

In [9]:
# Filter DataFrame for helpful_votes ratio above or equal to 50%
df2 = df1[(df1["helpful_votes"] / df1["total_votes"]) >= 0.5]
len(df2)

28348

In [10]:
# Create paid vine DataFrame
paid_df = df2[(df2["vine"] =='Y')]
paid_df.head(5)
len(paid_df)

61

In [11]:
# Create unpaid vine DataFrame
unpaid_df = df2[(df2["vine"] =='N')]
unpaid_df.head(5)
len(unpaid_df)

28287

In [12]:
unpaid_df.describe()

        star_rating  helpful_votes   total_votes
count  28287.000000   28287.000000  28287.000000
mean       3.689327      51.027398     57.090466
std        1.673500     207.980370    216.969892
min        1.000000      10.000000     20.000000
25%        2.000000      21.000000     24.000000
50%        5.000000      28.000000     32.000000
75%        5.000000      45.000000     51.000000
max        5.000000   23755.000000  24170.000000

In [13]:
paid_df.describe()

       star_rating  helpful_votes  total_votes
count    61.000000      61.000000    61.000000
mean      3.606557      42.852459    48.016393
std       1.345098      44.679539    46.452302
min       1.000000      11.000000    20.000000
25%       3.000000      21.000000    24.000000
50%       4.000000      29.000000    33.000000
75%       5.000000      37.000000    42.000000
max       5.000000     253.000000   258.000000

In [14]:
# paid total number of reviews
#paid_df.count
total_paid_reviews = len(paid_df)
total_paid_reviews

61

In [15]:
# unpaid total number of reviews
total_unpaid_reviews = len(unpaid_df)
total_unpaid_reviews

28287

In [16]:
# paid 5-star reviews
paid_five_star_reviews_df = paid_df[paid_df["star_rating"] == 5.0]
paid_five_star_reviews_df

total_five_star_paid_reviews = paid_five_star_reviews_df['star_rating'].count() 
total_five_star_paid_reviews

20

In [17]:
# paid 5-star reviews percentage
paid_five_star_percent = (total_five_star_paid_reviews / total_paid_reviews) * 100
paid_five_star_percent

32.78688524590164

In [18]:
# unpaid 5-star reviews
unpaid_five_star_reviews_df = unpaid_df[unpaid_df["star_rating"] == 5.0]
unpaid_five_star_reviews_df

total_five_star_unpaid_reviews = unpaid_five_star_reviews_df['star_rating'].count() 
total_five_star_unpaid_reviews

15689

In [19]:
# unpaid 5-star reviews percentage
unpaid_five_star_percent = (total_five_star_unpaid_reviews / total_unpaid_reviews) * 100
unpaid_five_star_percent

55.463640541591545